html {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
body {
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  background-color: $white;
  text-align: left;
  @include text-style(normal, 400, 14px, 1.2, $dark-color);
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  color: $brand;
  text-decoration: underline;
  &:hover {
    color: $brand-hover;
    text-decoration: none;
  }
}

* {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4 {
  margin-bottom: 16px;
}
h2,h3,h4 {
  @include respond-to(lg-xl) {
    margin-top: 56px;
  }
  @include respond-to(xs-sm-md) {
    margin-top: 40px;
  }
}
h1 {
  margin-top: 0;
}

h1 {
  @include text-style(normal, 600, 28px, 36px, $dark-color);
}
h2 {
  @include text-style(normal, 600, 24px, 32px, $dark-color);
}
h3 {
  @include text-style(normal, 600, 21px, 30px, $dark-color);
}
h4 {
  @include text-style(normal, 600, 16px, 20px, $dark-color);
}
p {
  @include text-style(normal, 400, 16px, 24px, $dark-sub);
  margin: 12px 0;
}
img {
  border-style: none;
  outline: none;
}

ul, li {
  padding: 0;
  margin: 0;
}

.align-center {
  text-align: center;
}

i {
  font-style: normal;
}

.body-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.12);
  z-index: 5000;
}

.up-over-overlay {
  position: relative;
  z-index: 5050;
}

@include respond-to(mobile) {
  .hide-on-mobile {
    display: none!important;
  }
}
@include respond-to(desktop) {
  .hide-on-desktop {
    display: none!important;
  }
}

.hiddenDiv {
  display: none;
}

.mb24 {
  margin-bottom: 24px!important;
}

.mb48 {
  margin-bottom: 48px!important;
}

.f18 {
  font-size: 18px;
  line-height: 26px;
}

.clear {
  clear: both;
}
table p {
  padding-bottom: 0;
}
.collapse-table {
  border: 0 none;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}