@mixin spriteBgUrl {
    background: url("../images/sprite/sprite-82eee7de.svg") no-repeat;
}

@mixin sprite-chats {
    @include spriteBgUrl;
    background-position: 0 0;
    width: 88px;
    height: 88px;
}

@mixin sprite-check-active {
    @include spriteBgUrl;
    background-position: 97.45222929936305% 86.56716417910448%;
    width: 14px;
    height: 10px;
}

@mixin sprite-icon-arrow-1-right {
    @include spriteBgUrl;
    background-position: 12.418300653594772% 100%;
    width: 18px;
    height: 18px;
}

@mixin sprite-icon-arrow-2-right {
    @include spriteBgUrl;
    background-position: 24.18300653594771% 100%;
    width: 18px;
    height: 18px;
}

@mixin sprite-icon-close {
    @include spriteBgUrl;
    background-position: 35.947712418300654% 100%;
    width: 18px;
    height: 18px;
}

@mixin sprite-icon-danger {
    @include spriteBgUrl;
    background-position: 47.712418300653596% 100%;
    width: 18px;
    height: 18px;
}

@mixin sprite-icon-facebook {
    @include spriteBgUrl;
    background-position: 0 73.33333333333333%;
    width: 24px;
    height: 24px;
}

@mixin sprite-icon-facebook-hover {
    @include spriteBgUrl;
    background-position: 16.3265306122449% 73.33333333333333%;
    width: 24px;
    height: 24px;
}

@mixin sprite-icon-info {
    @include spriteBgUrl;
    background-position: 59.47712418300654% 100%;
    width: 18px;
    height: 18px;
}

@mixin sprite-icon-message {
    @include spriteBgUrl;
    background-position: 32.6530612244898% 73.33333333333333%;
    width: 24px;
    height: 24px;
}

@mixin sprite-icon-message-hover {
    @include spriteBgUrl;
    background-position: 48.97959183673469% 73.33333333333333%;
    width: 24px;
    height: 24px;
}

@mixin sprite-icon-success {
    @include spriteBgUrl;
    background-position: 0 100%;
    width: 19px;
    height: 18px;
}

@mixin sprite-icon-warning {
    @include spriteBgUrl;
    background-position: 71.24183006535948% 100%;
    width: 18px;
    height: 18px;
}

@mixin sprite-icon-youtube {
    @include spriteBgUrl;
    background-position: 65.3061224489796% 73.33333333333333%;
    width: 24px;
    height: 24px;
}

@mixin sprite-icon-youtube-hover {
    @include spriteBgUrl;
    background-position: 81.63265306122449% 73.33333333333333%;
    width: 24px;
    height: 24px;
}

@mixin sprite-instruments {
    @include spriteBgUrl;
    background-position: 83.01886792452831% 0;
    width: 65px;
    height: 56px;
}

@mixin sprite-mail {
    @include spriteBgUrl;
    background-position: 98.70967741935483% 67.1875%;
    width: 16px;
    height: 16px;
}

@mixin sprite-radio-active {
    @include spriteBgUrl;
    background-position: 99.35064935064935% 42.1875%;
    width: 17px;
    height: 16px;
}

@mixin sprite-shopping-cart {
    @include spriteBgUrl;
    background-position: 99.35064935064935% 54.6875%;
    width: 17px;
    height: 16px;
}

@mixin sprite-slide-left {
    @include spriteBgUrl;
    background-position: 83.00653594771242% 100%;
    width: 18px;
    height: 18px;
}

@mixin sprite-slide-left-on {
    @include spriteBgUrl;
    background-position: 100% 0;
    width: 18px;
    height: 18px;
}

@mixin sprite-slide-right {
    @include spriteBgUrl;
    background-position: 100% 14.285714285714286%;
    width: 18px;
    height: 18px;
}

@mixin sprite-slide-right-on {
    @include spriteBgUrl;
    background-position: 100% 28.571428571428573%;
    width: 18px;
    height: 18px;
}

@mixin sprite-social-btn-chat {
    @include spriteBgUrl;
    background-position: 98.70967741935483% 78.46153846153847%;
    width: 16px;
    height: 14px;
}

@mixin sprite-social-btn-facebook {
    @include spriteBgUrl;
    background-position: 94.44444444444444% 96.92307692307692%;
    width: 9px;
    height: 14px;
}

@mixin sprite-social-btn-youtube {
    @include spriteBgUrl;
    background-position: 0 86.15384615384616%;
    width: 21px;
    height: 14px;
}

@mixin sprite-up-btn {
    @include spriteBgUrl;
    background-position: 59.863945578231295% 48.275862068965516%;
    width: 24px;
    height: 28px;
}

@mixin sprite-up-btn-on {
    @include spriteBgUrl;
    background-position: 76.19047619047619% 48.275862068965516%;
    width: 24px;
    height: 28px;
}

