#content-wrapper,
.content-wrapper {
  .full-img {
    img {
      max-width: 100%;
    }
  }
  .content-title:not(h1) {
    margin-top: 40px;
  }

  .iframe-container {
    @include respond-to(lg-xl) {
      margin: 56px 0;
    }
    @include respond-to(xs-sm-md) {
      margin: 40px 0;
    }
    @include respond-to(xs-sm-md) {
      overflow: hidden;
      padding-top: 56.25%;
      position: relative;
      iframe {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }
  hr {
    @include respond-to(lg-xl) {
      margin: 56px 0;
    }
    @include respond-to(xs-sm-md) {
      margin: 40px 0;
    }
    overflow: visible;
    position: relative;
    border-color: transparent;
    &:after {
      content: '';
      width: 100%;
      height: 1px;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      background-color: $gray-light;
    }
  }
}

#content {
  ul, ol {
    padding-left: 25px;
    width: 100%;
    margin: 0 0 25px 0;
    li {
      margin-top: 8px;
      @include text-style(normal, 400, 14px, 24px, $dark-sub);
    }
    ul, ol {
      margin-bottom: 0;
    }
  }
}

#content-wrapper,
.content-wrapper,
.content-body {
  .mb24 {
    margin-bottom: 24px!important;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  p[align="center"] {
    img {
      @include respond-to(lg-xl) {
        margin-bottom: 44px;
        margin-top: 44px;
      }
      @include respond-to(xs-sm-md) {
        margin-bottom: 40px;
        margin-top: 40px;
      }
    }
  }
  .align-center {
    @include respond-to(lg-xl) {
      margin-bottom: 56px;
      margin-top: 56px;
    }
    @include respond-to(xs-sm-md) {
      margin-bottom: 40px;
      margin-top: 40px;
    }
  }
}

.content-body {
  > *:first-child {
    margin-top: 0;
  }
  a {
    color: $link-brand-color;
  }
}