.section-main {
  @include respond-to(desktop) {
    height: 100%;
  }
  @include respond-to(xl) {
    margin-left: 50px;
  }
  @include respond-to(lg) {
    margin-left: 40px;
  }
  @include respond-to(md) {
    margin-left: 30px;
  }
  @include respond-to(mobile) {
    margin-bottom: 80px;
  }
}