footer {
  background: #F8F8F9;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .footer {
    &_nav {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px;
    }
    &_col {
      text-align: left;
      margin-bottom: 50px;
      padding: 0 15px;
      @include respond-to(lg-xl) {
        flex: 1;
      }
      @include respond-to(md) {
        flex: 0 0 33.3333%;
      }
      @include respond-to(mobile) {
        flex: 0 0 50%;
      }
      li {
        list-style: none;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
      &-title {
        @include text-style(normal, 700, 14px, 20px, $dark-color);
        display: inline-block;
        margin-bottom: 24px;
        &.-important {
          color: $brand;
          &:hover {
            color: $brand-hover;
          }
        }
      }
      &-list {
        a {
          @include text-style(normal, 400, 14px, 16px, $gray);
        }
      }
    }
    &_copyright {
      @include text-style(normal, 400, 14px, 17px, $gray);
      text-align: center;
      padding: 24px 0 24px;
      border-top: 1px solid $gray-second;
    }
  }
}